@import './settings.scss';

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}

html, body, #root, .App {
  min-height: 100vh;
}

body {
  margin: 0;
  background: $bg-color;
  color: $text-color;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $base-font-size;
  height: 100%;
}

.App::before {
  display: block;
  width: 100%;
  height: $header-height;
  content: "";
}

a {
  color: $text-color;
  text-decoration: underline;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

svg {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: none;
  overflow: hidden;
}

.container {
  min-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: row;

  .container {
    justify-content: left;
  }
}

.inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-left: calc(#{$left-panel-width} + 2px);
  margin-right: 60px;
  background: $bg-menu-color;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 5px 4px 0px #e4e4e4;
}

.button {
  transition: background 0.8s ease;
  cursor: pointer;
}

.menu__button {
  width: $menu-l-button-width;
  height: 60px;
  padding: 3px;
  margin: 5px auto;
  border-radius: 10%;
  border: none;
  background: $bg-menu-button;
  box-shadow: 1px 1px 4px #615e3c;

  svg {
    stroke: $menu-btn-color;
    fill: $menu-btn-color;
    stroke-width: 5;
  }

  &:hover {
    background: $bg-active-button;

    svg {
      stroke: #000;
      fill: #000;
    }
  }
}

.menu__active-button {
  background: $bg-active-button;
  box-shadow: inset 2px 2px 1px 0px #23221d;
}

.menu__sub-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: $bg-menu-color;

  button {
    background: inherit;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
}

.menu__sub-block {
  margin-bottom: 47px;
  text-align: center;
  display: flex;
  flex-direction: column;

  h3 {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: $h3-size;
    font-weight: bold;
  }

  p {
    background: #c9f5a0;
    padding: 3px;
    margin: 2px 20px;
    border-radius: 2px;
  }
}

.menu__buttons-group {
  width: 100%;

  .menu__button {
    width: $menu-m-button-width;
    margin: 5px;
  }
  
}

.delete-button {
  background: $bg-delete-button;

  &:hover {
    background: $bg-delete-button-active;
  }
}

.menu__active-button.delete-button {
  background: $bg-delete-button-active;
}

.canvas-inner {
  width: 100%;
  height: 100%;
  border: 5px solid $bg-menu-color;
  border-radius: 10px;
}

.canvas-wrapper {
  box-shadow: 5px 4px 0px #e4e4e4;
  width: $canvas-width;
  height: $canvas-width;
}

.canvas-inner_delete-mode {
  border-color: $bg-delete-mode-color;
}


.header {
  height: $header-height;
  background: $bg-menu-color;
  margin-bottom: 10px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $bg-color;

  img {
    height: 44px;
    margin-top: 4px;
  }
  
  h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 1.7em;
    color: #0a0c0b;
    text-transform: capitalize;
  }

  svg {
    height: 50px;
    width: 100px;
    margin: 0;
  }
}

.header__main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

.header-inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.left-panel__button {
  background: $left-panel-btn-color;

  &:hover {
    background: $left-panel-btn-hover-color;
  }
}

.left-panel {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: $left-panel-width;
  padding-top: $header-height;
  background: $left-panel-color;
}

.footer {
  height: $footer-height;
  border-top: 1px solid $footer-border;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1em;

  .footer__text-wrapper {
    margin-right: 5px;
  }
}

.move-cursor {
  cursor: move;
}

.delete-cursor {
  cursor: url('./assets/x-button.svg'), auto;
}

.move-point-cursor {
  cursor: url('./assets/vector.svg') 15 15, auto;
}