$bg-color: #fff;

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: $bg-color;
  box-sizing: border-box;
}

#root, .App {
  height: 100%;
}

.canvas-wrapper {
  height: 80%;
}

svg {
  width: 80vh;
  height: 80vh;
  border: 1px dashed #000;
  margin: 0 auto;
}
