$bg-color: #f3f3f3;
$text-color: #2b2b2b;
$bg-menu-color: #4ca508;
$bg-menu-button: #dcd253;
$menu-btn-color: #3f4441;
$bg-active-button: #f4ff52;

$bg-delete-button: #c79999;
$bg-delete-button-active: #fbb2b2;
$bg-delete-mode-color: #ce4242;
$footer-border: #ccc;

$base-font-size: 16px;

$canvas-width: 700px;

$header-height: 50px;
$footer-height: 50px;

$menu-l-button-width: 100px;
$menu-m-button-width: 60px;

$h3-size: 1.2em;